* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h2,
h3,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway"), url("../fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway"), url("../fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

.top, .content .presentation, .content .partners {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.top .slider__top .slider__text .slider__heading {
  font-size: 52px;
  line-height: 61px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}

.content .services__block .services__skills .services__col .services__title {
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  color: #555555;
}

.content .services__block .services__skills .services__col .services__text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}

.top .slider__top .slider__text .slider__btn {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

body {
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 1px solid red;
}

.top {
  background-image: url(../img/bg_top.png);
  position: relative;
  outline: 1px solid blue;
}

.top .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 39px;
}

.top .header .logo {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top .header .logo__text {
  padding-top: 7px;
  color: #fff;
  font-size: 34px;
  line-height: 40px;
  font-weight: normal;
  font-family: "Raleway", sans-serif;
}

.top .header .menu {
  margin-right: 30px;
  padding-top: 19px;
}

.top .header .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top .header .menu__list .menu__item {
  margin-right: 24px;
}

.top .header .menu__list .menu__item:last-child {
  margin-right: 0;
}

.top .header .menu__list .menu__item .menu__link {
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.top .header .menu__list .menu__item .menu__link:hover {
  color: #C7B299;
}

.top .header .icons {
  padding-top: 15px;
}

.top .header .icons__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top .header .icons__list .icons__item {
  margin-right: 30px;
}

.top .header .icons__list .icons__item:last-child {
  margin-right: 0;
}

.top .header .icons__list .icons__item .icons__link {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.top .header .icons__list .icons__item .icons__link:hover path {
  fill: #C7B299;
}

.top .slider {
  padding-top: 334px;
}

.top .slider__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 315px;
}

.top .slider__top .slider__left {
  background-color: Transparent;
  background-repeat: no-repeat;
  position: absolute;
  top: 451px;
  left: 162px;
}

.top .slider__top .slider__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top .slider__top .slider__text .slider__title {
  font-size: 36px;
  line-height: 42px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  color: #fff;
  margin-bottom: 1px;
}

.top .slider__top .slider__text .slider__heading {
  color: #fff;
  margin-bottom: 4px;
}

.top .slider__top .slider__text .slider_paragraph {
  max-width: 563px;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  margin-bottom: 39px;
}

.top .slider__top .slider__text .slider__btn {
  border: 1px solid #988574;
  background-color: #988574;
  border-radius: 3px;
  padding: 19px 40px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.top .slider__top .slider__text .slider__btn:hover, .top .slider__top .slider__text .slider__btn:focus {
  background: #ffffff;
  color: #988574;
}

.top .slider__top .slider__right {
  background-color: Transparent;
  background-repeat: no-repeat;
  position: absolute;
  top: 451px;
  right: 162px;
}

.top .slider__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 49px;
}

.top .slider__bottom .slider__bottom_btn {
  margin-right: 7px;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.top .slider__bottom .slider__bottom_btn:last-child {
  margin-right: 0;
}

.top .slider__bottom .slider__bottom_btn:focus, .top .slider__bottom .slider__bottom_btn:hover {
  background-color: transparent;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  outline: 1px solid purple;
}

.content .services {
  outline: 1px solid blue;
}

.content .services__block {
  padding: 90px 0;
}

.content .services__block .services__skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
}

.content .services__block .services__skills .services__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 30px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  padding: 3px;
}

.content .services__block .services__skills .services__col:last-child {
  margin-right: 0;
}

.content .services__block .services__skills .services__col:hover path {
  fill: #C7B299;
}

.content .services__block .services__skills .services__col:hover rect {
  fill: #C7B299;
}

.content .services__block .services__skills .services__col:hover .services__title {
  color: #C7B299;
}

.content .services__block .services__skills .services__col .services__icons {
  margin-bottom: 30px;
}

.content .services__block .services__skills .services__col .services__title {
  margin-bottom: 20px;
}

.content .services__block .services__skills .services__col .services__text {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 17px;
}

.content .realization {
  background: #FBFAF8;
  outline: 1px solid blue;
}

.content .purchase {
  background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
  outline: 1px solid blue;
}

.content .project {
  outline: 1px solid blue;
}

.content .presentation {
  background-image: url(../img/bg_presentation.png);
  outline: 1px solid blue;
}

.content .mobile {
  background: #FBFAF8;
  outline: 1px solid blue;
}

.content .counters {
  background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
  outline: 1px solid blue;
}

.content .posts {
  outline: 1px solid blue;
}

.content .partners {
  background-image: url(../img/bg_partners.png);
  outline: 1px solid blue;
}

.footer {
  outline: 1px solid purple;
}

.footer .first-footer {
  background: #191919;
  outline: 1px solid blue;
}

.footer .bottom-footter {
  background: #101010;
  outline: 1px solid blue;
}
/*# sourceMappingURL=style.css.map */