//reset style
@import "reset.scss";

//import fonts
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway"), url("../fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway"), url("../fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

//variables
$ctr: center;
//colors
$color_wt:#fff;
$color_bk:#000;
$color_btn:#988574;
$color_hv:#C7B299;
$color_h:#555555;
$color_p:#8C8C8C;
$td: 0.3s;

//mixins
@mixin txtstyle ($fz, $lh) {
  font-size: $fz;
  line-height: $lh;
}

@mixin fontstyle ($fw, $ff) {
  font-weight: $fw;
  font-family: $ff, sans-serif;
}

//templates 
%bfset {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

%h1 {
  @include txtstyle(52px, 61px);
  @include fontstyle(600, "Raleway");
}

%h2 {
  @include txtstyle(30px, 35px);
  @include fontstyle(600, "Raleway");
  color: $color_h;
}

%h3 {
  @include txtstyle(28px, 33px);
  @include fontstyle(normal, "Raleway");
}

%h4 {
  @include txtstyle(24px, 28px);
  @include fontstyle(600, "Raleway");
}

%h5 {
  @include txtstyle(22px, 26px);
  @include fontstyle(600, "Raleway");
  color: $color_h;
}

%h6 {
  @include txtstyle(20px, 23px);
  @include fontstyle(500, "Raleway");
}

%pg {
  @include txtstyle(16px, 20px);
  @include fontstyle(300, "Montserrat");
}

%btns {
  @include txtstyle(14px, 16px);
  @include fontstyle(normal, "Roboto");
  color: $color_wt
}

// all page
body {
  @include fontstyle (normal, "Montserrat");
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 1px solid red;

}

//blocks
.top {
  background-image: url(../img/bg_top.png);
  @extend %bfset;
  position: relative;

  .header {
    display: flex;
    justify-content: space-between;
    padding-top: 39px;

    .logo {
      margin-right: 30px;
      display: flex;


      &__text {
        padding-top: 7px;
        color: $color_wt;
        @include txtstyle (34px, 40px);
        @include fontstyle(normal, "Raleway");
      }
    }

    .menu {
      margin-right: 30px;
      padding-top: 19px;

      &__list {
        display: flex;

        .menu__item {
          margin-right: 24px;

          &:last-child {
            margin-right: 0;
          }

          .menu__link {
            color: $color_wt;
            @include txtstyle(14px, 17px);
            transition-duration: $td;

            &:hover {
              color: $color_hv;
            }
          }
        }
      }


    }

    .icons {
      padding-top: 15px;

      &__list {
        display: flex;

        .icons__item {
          margin-right: 30px;

          &:last-child {
            margin-right: 0;
          }

          .icons__link {
            transition-duration: $td;

            &:hover path {
              fill: $color_hv;
            }
          }
        }
      }


    }
  }

  .slider {

    padding-top: 334px;

    &__top {
      display: flex;
      justify-content: $ctr;
      margin-bottom: 315px;

      .slider__left {

        background-color: Transparent;
        background-repeat: no-repeat;
        position: absolute;
        top: 451px;
        left: 162px;
      }

      .slider__text {

        display: flex;
        flex-direction: column;
        text-align: $ctr;
        align-items: $ctr;

        .slider__title {
          @include txtstyle(36px, 42px);
          @include fontstyle(500, "Raleway");
          color: $color_wt;
          margin-bottom: 1px;
        }

        .slider__heading {
          @extend %h1;
          color: $color_wt;
          margin-bottom: 4px;
        }

        .slider_paragraph {
          max-width: 563px;
          color: $color_wt;
          @include txtstyle(16px, 20px);
          color: $color_wt;
          margin-bottom: 39px;

        }

        .slider__btn {
          @extend %btns;
          border: 1px solid $color_btn;
          background-color: $color_btn;
          border-radius: 3px;
          padding: 19px 40px;
          transition-duration: $td;

          &:hover,
          &:focus {
            background: #ffffff;
            color: #988574;
          }
        }
      }

      .slider__right {

        background-color: Transparent;
        background-repeat: no-repeat;
        position: absolute;
        top: 451px;
        right: 162px;
      }
    }

    &__bottom {

      display: flex;
      justify-content: $ctr;
      padding-bottom: 49px;

      .slider__bottom_btn {
        margin-right: 7px;
        width: 10px;
        height: 10px;
        background-color: rgba(255, 255, 255, 0.5);
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        transition-duration: $td;

        &:last-child {
          margin-right: 0;
        }

        &:focus,
        &:hover {
          background-color: transparent;
        }

      }
    }
  }

}

.content {
  flex: 1 1 auto;
  outline: 1px solid purple;

  .services {
    &__block {
      padding: 90px 0;

      .services__skills {
        display: flex;
        justify-content: space-between;
        padding: 0 30px;


        .services__col {
          display: flex;
          flex-direction: column;
          align-items: $ctr;
          text-align: $ctr;
          margin-right: 30px;
          transition-duration: $td;
          padding: 3px;

          &:last-child {
            margin-right: 0;
          }

          &:hover path {
            fill: $color_hv;
          }

          &:hover rect {
            fill: $color_hv;
          }

          &:hover .services__title {
            color: $color_hv;

          }


          .services__icons {
            margin-bottom: 30px;
          }

          .services__title {
            margin-bottom: 20px;
            @extend %h5;
          }

          .services__text {
            margin-bottom: 30px;
            @extend %pg;
            @include txtstyle(14px, 17px);
          }




        }
      }




    }
  }

  .realization {
    background: #FBFAF8;
    outline: 1px solid blue;
  }

  .purchase {
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
    outline: 1px solid blue;
  }

  .project {
    outline: 1px solid blue;
  }

  .presentation {
    background-image: url(../img/bg_presentation.png);
    @extend %bfset;
    outline: 1px solid blue;
  }

  .mobile {
    background: #FBFAF8;
    outline: 1px solid blue;
  }

  .counters {
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
    outline: 1px solid blue;
  }

  .posts {
    outline: 1px solid blue;
  }

  .partners {
    background-image: url(../img/bg_partners.png);
    @extend %bfset;
    outline: 1px solid blue;
  }
}

.footer {
  outline: 1px solid purple;

  .first-footer {
    background: #191919;
    outline: 1px solid blue;
  }

  .bottom-footter {
    background: #101010;
    outline: 1px solid blue;

    .bottom-footter-block {


      .bottom-footer__list {
        display: flex;
      }

      .bottom-footer__li {
        margin-right: 25px;

        &:last-child {
          margin-right: 0;
        }
      }

      .bottom-footer__link {
        @include txtstyle(13px, 16px);
        @include fontstyle(300, "Montserrat");
        color: #555555;

        &:hover {
          color: #BAA78F;
        }
      }
    }


  }
}