@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h2,
h3,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: local("☺"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: local("☺"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: local("☺"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: local("☺"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: local("☺"), url("../fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: local("☺"), url("../fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

.top, .content .presentation, .content .partners {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body {
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 1px solid blue;
}

.top {
  background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
  background-image: url(../img/bg_top.png);
}

.top .header {
  outline: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 39px;
  width: 100%;
}

.top .header .logo {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: 1px solid rosybrown;
}

.top .header .logo__text {
  padding-top: 7px;
  color: #fff;
  font-size: 52px;
  line-height: 61px;
  font-weight: normal;
  font-family: "Raleway", sans-serif;
}

.top .header .menu {
  outline: 1px solid rosybrown;
  margin-right: 30px;
  padding-top: 19px;
}

.top .header .menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top .header .menu .menu__list .menu__item {
  margin-right: 24px;
}

.top .header .menu .menu__list .menu__item:last-child {
  margin-right: 0;
}

.top .header .menu .menu__list .menu__item .menu__link {
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.top .header .menu .menu__list .menu__item .menu__link:hover {
  color: #C7B299;
}

.top .header .icons {
  outline: 1px solid rosybrown;
  padding-top: 15px;
}

.top .header .icons .icons__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top .header .icons .icons__list .icons__item {
  margin-right: 30px;
}

.top .header .icons .icons__list .icons__item:last-child {
  margin-right: 0;
}

.top .header .icons .icons__list .icons__item .icons__link {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.top .header .icons .icons__list .icons__item .icons__link:hover path {
  fill: #C7B299;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.content .realization {
  background: #FBFAF8;
}

.content .purchase {
  background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
}

.content .presentation {
  background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
  background-image: url(../img/bg_presentation.png);
}

.content .mobile {
  background: #FBFAF8;
}

.content .counters {
  background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
}

.content .partners {
  background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
  background-image: url(../img/bg_partners.png);
}

.footer .first-footer {
  background: #191919;
}

.footer .bottom-footter {
  background: #101010;
}
/*# sourceMappingURL=style.css.map */